{{#each products}}
<div class="productCard">
  <div class="productId">Id: {{id}}</div>
  <div class="productName">Name: {{name}}</div>
  <div class="productPrice">Price: ${{price}}</div>
  <div class="productInventory">Inventory: {{inventory}}</div>
</div>
<a href="/products/{{id}}">Go to product page</a>
{{/each}}

<a href="/products/new">Submit new product</a>